:root {
  --white: hsl(0, 0%, 95%);
  --black: hsl(0, 0%, 5%);
  --brand: hsl(252, 50%, 52%);
  --background: rgb(35, 35, 35);
  --surface: hsl(0, 0%, 21%);
  --text: rgb(245, 245, 245);
  --text-secondary: grey;
  --link: hsl(174, 20%, 50%);
  --error: hsl(3, 34%, 50%);
  --shadow: hsla(0, 0%, 0%, 30%);
  --disabled-button: hsl(0, 0%, 45%);
}

body {
  color-scheme: light dark;
  margin: 0;
  font-family: sans-serif;
  /* background: var(--background); */
  overflow-y: overlay;
  /* Fixes keyboard pushing elements up on mobile */
  position: relative;
}

*::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid var(--surface);
  width: 12px;
}

#app {
  background: var(--background);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: var(--link);
}